{% if article.metafields["custom_fields"]["banner_image"] != blank %}
  <div class="custom-field custom-field__banner-image custom-field__type--image">
    <h3 class="custom-field--title">Banner Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: article.metafields["custom_fields"]["banner_image"] %}
    </div>
  </div>
{% endif %}