<div class="custom-card ">
  <div class="custom-accordion-header">
    <a href="#" class="accordion-btn">{{ block.settings.faq_question }}</a>
  </div>
  <div class="custom-accordion-content">
    <p>
      {{ block.settings.faq_answer }}</p>
  </div>
</div>