<!-- content -->
<div id="content">
  <!-- section -->
  <div class="section my-account">
    <div class="container">
      <div class="text-center  mb-4 mb-md-5">
        <h1 class="h4 mb-2">My Account</h1>
        <a href="#">Log Out</a>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h4 mb-2">Order History</h1>
          {% if customer.orders.size != 0 %}
            <div class="order-history-wrapper mb-5 mb-lg-0">
              <div class="row header pb-3">
                <div class="col-3"><span>Order No.</span></div>
                <div class="col-3"><span>Status</span></div>
                <div class="col-3"><span>Item</span></div>
                <div class="col-3"><span>Total</span></div>
              </div>
              {% for order in customer.orders %}
              <div class="order-details row">
                <div class="col-3"><span>#11223</span></div>
                <div class="col-3"><span>Booked</span></div>
                <div class="col-3"><span>2</span></div>
                <div class="col-3"><span>{{ order.total_price | money }}</span></div>
              </div>
              {% endfor %}
            </div>
          {% else %}
            <p>You haven't placed any orders yet.</p>
          {% endif %}
            
            
        </div>
        <div class="col-lg-4">
          <h2 class="h4 mb-2">Account Details</h2>
          <p>Roshan Dixit<br> Netling<br> some address<br> address 2<br> City 11222555<br> United Kingdom</p>
          <p><a href="#">View Addresses (2)</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- /section -->
</div>
<!-- /content -->