<h1>404 Page</h1>
<h3><a href="/">Back to Home Page</a></h3>

{% schema %}
  {
    "name": "404",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
