<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="mb-4">404 Page</h1>
        <h2 class="h6"> The page you were looking for does not exist.<a href="/" class="link1"> Click here</a> to continue shopping.</h2>
      </div>
    </div>
  </div>
</div>

{%- schema -%}
  {
    "name": "404",
    "settings": []
  }
{%- endschema -%}

{%- stylesheet -%}
{%- endstylesheet -%}

{%- javascript -%}
{%- endjavascript -%}
