<div class="custom-accordion accordion2 text-start mb-4">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'faq_title_block' -%}
        <h2 class="h4 mb-4">{{ block.settings.faq_title }}</h2>
        {%- assign id = block.settings.id | downcase | replace: " ", "-" -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'faq_block' -%}
            {%- assign faq_id = block.settings.title_id | downcase | replace: " ", "-" -%}
            {%- if id == faq_id  -%}
              {% include 'faq-card' %}
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
    {%- endcase -%}
  {%- endfor -%}
</div>
{%- schema -%}
{
  "name": "Faq Section",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "faq_title_block",
      "name": "Faq Title Block",
      "settings": [
        {
          "type": "text",
          "label": "ID",
          "id": "id",
          "info": "Enter the ID of block ( and use the same ID to link other Blocks under this title block )"
        },
        {
          "type": "textarea",
          "label": "Faq Title",
          "id": "faq_title"
        }
      ]
    },
    {
      "type": "faq_block",
      "name": "Faq Block",
      "settings": [
        {
          "type": "text",
          "label": "Title ID ( ID of the title which this block Belong to)",
          "id" : "title_id"
        },
        {
          "type": "textarea",
          "label": "Faq Question",
          "id": "faq_question"
        },
        {
          "type": "textarea",
          "label": "Faq Answer",
          "id": "faq_answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq Section"
    }
  ]
}
{%- endschema -%}

{%- stylesheet -%}
{%- endstylesheet -%}

{%- javascript -%}
{%- endjavascript -%}