<!-- section -->
<div class="section pb-0">
  <div class="container">
    {%- if section.settings.faq_title != '' -%}
    <header class="text-center c-mb-4">
      <h2 class="heading1">{{ section.settings.faq_title }}</h2>
    </header>
    {%- endif -%}
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="custom-accordion accordion2 text-start mb-4">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%-  when 'faq_block' -%}
              {% include 'faq-card' %} 
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /section -->

{%- schema -%}
{
  "name": "Faq Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Faq Title",
      "id": "faq_title"
    }
  ],
  "blocks": [
    {
      "type": "faq_block",
      "name": "Faq Block",
      "settings": [
        {
          "type": "textarea",
          "label": "Faq Question",
          "id": "faq_question"
        },
        {
          "type": "textarea",
          "label": "Faq Answer",
          "id": "faq_answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq Section"
    }
  ]
}
{%- endschema -%}

{%- stylesheet -%}
{%- endstylesheet -%}

{%- javascript -%}
{%- endjavascript -%}