<!-- page head --->
      <div id="page-head" class="text-center">
        <div class="container">
          <h1 class="display-1">{{ section.settings.banner-heading }}</h1>
          <p>{{ section.settings.sub-heading }}</p>
          <footer>
            <a href="{{ section.settings.button-url }}" class="btn btn-primary btn-sm">{{ section.settings.banner-button-label }}</a>
          </footer>
        </div>
        <span class="cloud cloud1">
        </span>
        <span class="cloud cloud2">
        </span>
        <span class="cloud cloud3">
        </span>
        <span class="cloud cloud4">
        </span>
        <span class="cloud cloud5">
        </span>
        <span class="cloud cloud6">
        </span>
        <span class="cloud cloud7">
        </span>
        <span class="cloud cloud8">
        </span>
      </div>
      <!-- /page head --->

{% schema %}
  {
    "name": "Section Banner",
    "settings": [
      {
      "id": "banner-heading",
      "type": "text",
      "label": "Banner Heading"
    },
      {
      "id": "sub-heading",
      "type": "text",
      "label": "Sub Heading"
    },
    {
      "id": "banner-button-label",
      "type": "text",
      "label": "Button Label"
    },
    {
      "id": "button-url",
      "type": "text",
      "label": "Button Url"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}