<!-- section -->
<div class="section our-international-stores">
  <div class="container">
    <div class="box1 alt mb-5 mb-lg-5">
      <h2>{{ section.settings.international-store-title }}</h2>
      <div class="row pt-2">

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'internationalStores' -%}
            <div class="col-lg-4 col-md-6 column">
              <h6>{{ block.settings.store-location }}</h6>
              <ul class="list1">
                <li>Pavilion KL Mall</li>
              </ul>
            </div>
            {%- assign i = i | plus: 1 -%}
          {%- endcase -%}
        {%- endfor -%}
        {%- comment -%} <div class="col-lg-4 col-md-6 column">
        <h6>Muscat, Oman</h6>
        <ul class="list1">
        <li>a) Souq Al Madina</li>
        <li>b) Mall of Muscat</li>
        </ul>
        </div>
        <div class="col-lg-4 col-md-6 column">
        <h6>Bahrain, Manama</h6>
        <ul class="list1">
        <li>Oasis Mall</li>
        </ul>
        </div>
        <div class="col-lg-4 col-md-6 column">
        <h6>Amman, Jordan</h6>
        <ul class="list1">
        <li>a) Abdoun </li>
        <li>b) Khalda </li>
        </ul>
        </div>
        <div class="col-lg-4 col-md-6 column">
        <h6>Prague, Czech Republic</h6>
        <ul class="list1">
        <li>Westfield Chodov, Praha</li>
        </ul>
        </div> {%- endcomment -%}
      </div>
    </div>
    <footer class="text-center pt-4 pt-lg-5">
      <span class="note">{{ section.settings.bottom-text }}</span>
    </footer>
  </div>
</div>
<!-- /section -->
{%- schema -%}
  {
    "name": "Internation Store section",
    "settings": [
      {
        "type": "text",
        "id": "international-store-title",
        "label": "Section Heading",
        "default": "International stores"
      }, {
        "type": "text",
        "id": "bottom-text",
        "label": "Bottom Text",
        "default": "More Stores opening soon including, Cyprus, Qatar, Belgium and more!"
      }
    ],
    "blocks": [
      {
        "name": "International Stores",
        "type": "internationalStores",
        "settings": [
          {
            "type": "text",
            "id": "store-location",
            "label": "Store Location Name"
          }
        ]
      }
    ]
  }
{%- endschema -%}