<!-- page head --->
      <div id="page-head" class="text-center">
        <div class="container">
          <h1 class="display-1">MyCookiedough<sup>r</sup><br> Stores </h1>
          <p>Experience moments of pure joy at <br> our My Cookie Dough Stores. </p>
          <footer>
            <a href="#" class="btn btn-primary btn-sm">View all locations</a>
          </footer>
        </div>
        <span class="cloud cloud1">
        </span>
        <span class="cloud cloud2">
        </span>
        <span class="cloud cloud3">
        </span>
        <span class="cloud cloud4">
        </span>
        <span class="cloud cloud5">
        </span>
        <span class="cloud cloud6">
        </span>
        <span class="cloud cloud7">
        </span>
        <span class="cloud cloud8">
        </span>
      </div>
      <!-- /page head --->

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}