<!-- page head --->
<div id="page-head" class="page-head2 text-center text-white pb-2">
    <div class="container">
      <div class="row justify-content-center text-md-start">
        <div class="col-xl-5 col-md-6">
          <h1 class="display-1">{{  section.settings.instore-menu-title }}</h1>
        </div>
        <div class="col-xl-5 col-md-6">
          {{ section.settings.instore-menu-content }}
        </div>
      </div>
    </div>
  </div>
  <!-- /page head --->
  <!-- content -->
  <div id="content">
    <!-- section -->
    <div class="section instore-menu after-gradient py-0 text-center">
      <div class="container">
        <img src="{{ section.settings.menu-image | image_url }}" alt="img" loading = "lazy" >
      </div>
    </div>
    <!-- /section -->
  </div>
  <!-- /content -->
  {% schema %}
  {
    "name": "InStore Menu",
    "settings": [
      {
        "type": "text",
        "id": "instore-menu-title",
        "label": "Title",
        "default": "Instore Menu"
      },
      {
        "type": "richtext",
        "id": "instore-menu-content",
        "label": "Content"
      },
      {
        "type": "image_picker",
        "id": "menu-image",
        "label": "Select Menu Image"
      }
    ]
  }
  {% endschema %}