<!-- section -->
        <div class="section our-international-stores">
          <div class="container">
            <div class="box1 alt mb-5 mb-lg-5">
              <h2>{{ section.settings.heading }}</h2>
              <div class="row pt-2">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'store' %}
                      <div class="col-lg-4 col-md-6 column">
                        <h6>{{ block.settings.city }}</h6>
                        <ul class="list1">
                          {{ block.settings.location }}
                        </ul>
                      </div>
                  {% endcase %}
                {% endfor %}
              </div>
            </div>
            <footer class="text-center pt-4 pt-lg-5">
              <span class="note">{{ section.settings.more-stores }} </span>
            </footer>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "International Stores",
    "settings": [
	  {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "International stores"
      },
      {
        "id": "more-stores",
        "type": "textarea",
        "label": "More Stores opening label",
        "default": "More Stores opening soon including, Cyprus, Qatar, Belgium and more!"
      }
    ],
    "blocks": [
      {
        "name": "Store",
        "type": "store",
        "settings": [
          {
            "id": "city",
            "type": "text",
            "label": "City",
            "default": "Country"
          },
          {
            "id": "location",
            "type": "html",
            "label": "Location",
            "default": "<li> Location1 </li>       <li> Location2 </li>"
          }
        ]
      }
    ],
	"presets": [
		{
			"name": "International Stores"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}