<!-- section -->
        <div class="section news-overview related wave1">
          <div class="container">
            <header class="text-center c-mb-4">
              <h2 class="heading1">{{ section.settings.latest-news-title }}</h2>
            </header>
            <div class="row">
              {% for article in section.settings.blog %}
              <div class="col-lg-4 col-md-6 column">
                <article class="post single-post">
                  <figure class="figure1">
                    <img class="w-100" src="images/image17.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <span class="post-date">01 Jan 2022</span>
                    <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</a></h2>
                    <p>Since opening our first store in the UK, we have expanded to several countries around the world, and we are looking forward…</p>
                  </div>
                  <footer>
                    <a href="#" class="read-more-btn">Read More</a>
                  </footer>
                </article>
              </div>
              {%  endfor %}
              {% comment %}
              <div class="col-lg-4 col-md-6 column">
                <article class="post single-post">
                  <figure class="figure1">
                    <img class="w-100" src="images/image15.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <span class="post-date">01 Jan 2022</span>
                    <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</a></h2>
                    <p>Since opening our first store in the UK, we have expanded to several countries around the world, and we are looking forward…</p>
                  </div>
                  <footer>
                    <a href="#" class="read-more-btn">Read More</a>
                  </footer>
                </article>
              </div>
              
              <div class="col-lg-4 col-md-6 column">
                <article class="post single-post">
                  <figure class="figure1">
                    <img class="w-100" src="images/image16.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <span class="post-date">01 Jan 2022</span>
                    <h2><a href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</a></h2>
                    <p>Since opening our first store in the UK, we have expanded to several countries around the world, and we are looking forward…</p>
                  </div>
                  <footer>
                    <a href="#" class="read-more-btn">Read More</a>
                  </footer>
                </article>
              </div>
              {% endcomment %}
            </div>
          </div>
        </div>
        <!-- /section -->
{% schema %}
{
  "name": "Latest News Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "latest-news-title",
      "default": "Latest News",
      "label" : "Title"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "News"
    }
  ],
  "presets": [
    {
      "name": "Latest News",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}