<!-- section -->
<div class="section sign-up-section bg-primary-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h4 class="text-white mb-2">
          Get 15% OFF your first order when you sign up
        </h4>
        <p class="text-white">
          Subscribe to our newsletter to be first to hear about latest news, dough-licious recipes and exclusive offers!
        </p>
      </div>
      <div class="col-lg-8 col-xl-7 pt-4">
        <div class="form email-form">
          <form action="#">
            <input
              type="email"
              class="form-control"
              placeholder="Email" />
            <input
              type="submit"
              class="btn btn-primary"
              value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /section -->