<div class="section my-products alt text-center pb-2 pb-md-5">
  <div class="container">
    <header class="text-center c-mb-4">
      <h2 class="heading1">{{ section.settings.title }}</h2>
    </header>
    <div class="row row3">
    {%- for product in section.settings.related_products -%}
      {%- include 'product-card' -%}
    {%- endfor -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Product Recommendations",
  "tag": "section",
  "settings": [
  {
    "type": "text",
    "label": "Title",
    "id": "title"
  },
  {
    "type": "product_list",
    "label": "Related Products",
    "id": "related_products",
    "limit": 4
  }
  ],
  "blocks": [],
  "presets": [
  {
    "name": "My New Section"
  }
  ]
}
{%- endschema -%}

{%- stylesheet -%}
{%- endstylesheet -%}

{%- javascript -%}
{%- endjavascript -%}