
{% unless product.has_only_default_variant %}
  {% for option in product.options_with_values %}
    {{ option.name | escape }}
  {% endfor %}
{% endunless %}
<footer>
  <div class="row">
    <div class="col-lg-6">
      {% comment %} <form method="post" action="/cart/add"> {% endcomment %}
      <button
        type="submit"
        class="btn btn-outline-primary w-100 mb-3 add-to-cart"
        data-product-id="{{product.variants.first.id }}">Add to cart</button>
      {% comment %} </form> {% endcomment %}
    </div>
    <div class="col-lg-6">
      <a
        href="#"
        class="btn btn-primary w-100 mb-3"
        id="buy-now-button"
        data-product-id="{{ product.variants.first.id }}">Buy it now</a>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Product Main Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}