{% comment %} <div class="section my-products alt text-center pb-2 pb-md-5">
<div class="container">
<header class="text-center c-mb-4">
<h2 class="heading1">You may also like</h2>
</header>
<div class="row row3">
<div class="col-xl-3 col-lg-4 col-md-6 column single-product">
<div class="figure1 video">
<img
class="w-100 video-overlay"
src="images/image21.jpg"
alt="img">
<video
class="w-100"
src="videos/choc-dcorating-dough.mp4"
loop
muted
autoplay></video>
<span class="hover">
<a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
</span>
</div>
<div class="content">
<h4>
<a href="#">The famous 5 pack</a>
</h4>
<p class="price">£22</p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 column single-product">
<div class="figure1 video">
<img
class="w-100 video-overlay"
src="images/image22.jpg"
alt="img">
<video
class="w-100"
src="videos/choc-dcorating-dough.mp4"
loop
muted
autoplay></video>
<span class="hover">
<a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
</span>
</div>
<div class="content">
<h4>
<a href="#">THE SPECIAL EDITION PACK</a>
</h4>
<p class="price">£22</p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 column single-product">
<div class="figure1 video">
<img
class="w-100 video-overlay"
src="images/image25.jpg"
alt="img">
<video
class="w-100"
src="videos/choc-dcorating-dough.mp4"
loop
muted
autoplay></video>
<span class="hover">
<a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
</span>
</div>
<div class="content">
<h4>
<a href="#">THE SPECIAL EDITION PACK</a>
</h4>
<p class="price">£22</p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 column single-product">
<div class="figure1 video">
<img
class="w-100 video-overlay"
src="images/image24.jpg"
alt="img">
<video
class="w-100"
src="videos/choc-dcorating-dough.mp4"
loop
muted
autoplay></video>
<span class="hover">
<a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
</span>
</div>
<div class="content">
<h4>
<a href="#">Kinder, Nutella & Oreo Skillet</a>
</h4>
<p class="price">£22</p>
</div>
</div>
</div>
</div>
</div> {% endcomment %}

{% schema %}
{
  "name": "Product Recommendations",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    },
    {
      "type": "product_list",
      "label": "Related Products",
      "id": "related_products"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "My New Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}