<!-- section -->
        <div class="section ingredients text-center">
          <div class="container">
            <header>
              <h3>{{ section.settings.heading }}</h3>
            </header>
            <div class="row">
 
              {% for value in product.metafields.Image.image %}
                <div class="col-md-4 column">
                    <div class="image">
                      <img src="{{ value }}" alt="icon">
                    </div>
                    <p>{{ product.metafields.Name.name[forloop.index0] }}</p>
                  </div>
              {% endfor %}

            </div>
          </div>
        </div>
<!-- /section -->



{% schema %}
  {
    "name": "Ingredients",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "INGREDIENTS"
      }
    ]
  }
{% endschema %}