        <div class="section">
          <div class="container">
            <header class="text-center c-mb-4">
              <h2 class="heading1">{{ section.settings.faq-title }}</h2>
            </header>
            <div class="custom-accordion accordion2 text-start mb-4">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'faq' %}
                  <div class="custom-card ">
                    <div class="custom-accordion-header">
                      <a href="#" class="accordion-btn">How can I store My Cookie Dough?</a>
                    </div>
                    <div class="custom-accordion-content">
                      <p>If you are not using your Cookie Dough immediately, place in the fridge or freezer as soon as you have received your pack. It can be kept in the fridge for up to 10 days, or if stored in the freezer on the first day of receiving for up to 3 months. When you want to use your Cookie Dough remove from the freezer and store in the fridge for 4 hours before baking.</p>
                    </div>
                  </div>
                  {% endcase %}
                {% endfor %}
              {% comment %}
              <div class="custom-card">
                <div class="custom-accordion-header">
                  <a href="#" class="accordion-btn">What is the allergen information?</a>
                </div>
                <div class="custom-accordion-content">
                  <p>If you are not using your Cookie Dough immediately, place in the fridge or freezer as soon as you have received your pack. It can be kept in the fridge for up to 10 days, or if stored in the freezer on the first day of receiving for up to 3 months. When you want to use your Cookie Dough remove from the freezer and store in the fridge for 4 hours before baking.</p>
                </div>
              </div>
              <div class="custom-card">
                <div class="custom-accordion-header">
                  <a href="#" class="accordion-btn">Why is My Cookie Dough still soft after extra time in the oven?</a>
                </div>
                <div class="custom-accordion-content">
                  <p>If you are not using your Cookie Dough immediately, place in the fridge or freezer as soon as you have received your pack. It can be kept in the fridge for up to 10 days, or if stored in the freezer on the first day of receiving for up to 3 months. When you want to use your Cookie Dough remove from the freezer and store in the fridge for 4 hours before baking.</p>
                </div>
              </div>
              {% endcomment %}
            </div>
          </div>
        </div>

{% schema %}
  {
    "name": "Faq Section",
    "settings": [
      {
        "type": "text",
        "id": "faq-title",
        "label": "Title",
        "default": "Frequently asked questions"
      }
    ],
    "blocks": [
      {
        "name": "faq",
        "type": "faq",
        "settings": [
          {
            "type": "richtext",
            "id": "faq-question",
            "label": "Faq Question"
          },
          {
            "type": "richtext",
            "id": "faq-answer",
            "label": "Faq Answer"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}