        {% paginate blog.articles by section.settings.blogs-per-page %}
        <div class="section news-overview wave1 bg-color1">
          <div class="container">
            <div class="row">
              {% for article in blog.articles %}
              {% include 'news-card' %}
              {% endfor %}
            </div>
            {% if paginate.pages > 1 %}
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center ">
                <li class="page-item prev"><a class="page-link" href="{{ paginate.previous.url }}"> < </a> </li>
                {% for page_number in (1..paginate.pages) %}
                  {% endfor %}
                {% for part in paginate.parts %}
                <li class="page-item"><span class="page-link {% if part.title ==  paginate.current_page %} active {% endif %}"><a href="{{ part.url }}"> {{ part.title }} </a></span></li>
                {% endfor %}
                <li class="page-item next"><a class="page-link" href="{{ paginate.next.url }}"> > </a></li>
              </ul>
            </nav>
          {% endif %}
          </div>
        </div>
      {% endpaginate %}
{% schema %}
{
  "name": "Main News Blog Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "number",
      "id": "blogs-per-page",
      "label": "Number of Blogs Per Page",
      "default": 6
    }
  ]
}
{% endschema %}