<div class="section">
  <div class="container">
    <header class="text-center c-mb-4">
      <h2 class="heading1">{{ section.settings.faq_title }}</h2>
    </header>
    <div class="custom-accordion accordion2 text-start mb-4">
      {% for block in section.blocks %}
        {% case block.type %}
        {%  when 'faq_block' %}
        <div class="custom-card ">
          <div class="custom-accordion-header">
            <a href="#" class="accordion-btn">{{ block.settings.faq_question }}</a>
          </div>
          <div class="custom-accordion-content">
            <p>
              {{ block.settings.faq_answer }}</p>
          </div>
        </div>
      {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Faq Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Faq Title",
      "id": "faq_title"
    }
  ],
  "blocks": [
    {
      "type": "faq_block",
      "name": "Faq Block",
      "settings": [
        {
          "type": "textarea",
          "label": "Faq Question",
          "id": "faq_question"
        },
        {
          "type": "textarea",
          "label": "Faq Answer",
          "id": "faq_answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}