        <div class="section">
          <div class="container">
            <header class="text-center c-mb-4">
              <h2 class="heading1">{{ section.settings.faq-title }}</h2>
            </header>
            <div class="custom-accordion accordion2 text-start mb-4">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'faq' %}
                  <div class="custom-card ">
                    <div class="custom-accordion-header">
                      <a href="#" class="accordion-btn">{{ block.settings.faq-question }}</a>
                    </div>
                    <div class="custom-accordion-content">
                      <p>{{ block.settings.faq-answer }}</p>
                    </div>
                  </div>
                  {% endcase %}
                {% endfor %}
            </div>
          </div>
        </div>

{% schema %}
  {
    "name": "Faq Section",
    "settings": [
      {
        "type": "text",
        "id": "faq-title",
        "label": "Title",
        "default": "Frequently asked questions"
      }
    ],
    "blocks": [
      {
        "name": "faq",
        "type": "faq",
        "settings": [
          {
            "type": "richtext",
            "id": "faq-question",
            "label": "Faq Question"
          },
          {
            "type": "richtext",
            "id": "faq-answer",
            "label": "Faq Answer"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}