<div class="section my-products alt text-center pb-2 pb-md-5">
  <div class="container">
    <header class="text-center c-mb-4">
      <h2 class="heading1">{{ section.settings.title }}</h2>
    </header>
    <div class="row row3">
      {%- for product in section.settings.select_products -%}
        {%-  include 'product-card' -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Recipes to Try Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Recipes to try with your BIY"
    },
    {
      "type": "product_list",
      "label": "Select Products",
      "id": "select_products",
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Recipes to Try Section"
    }
  ]
}
{%- endschema -%}

{%- stylesheet -%}
{%- endstylesheet -%}

{%- javascript -%}
{%- endjavascript -%}
