                <div class="tab-pane fade show active" id="bake-it-yourself" role="tabpanel" aria-labelledby="bake-it-yourself-tab">
                  <h5>Soft on the inside, crispy on the outside…</h5>
                  <p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄</p>
                  

{% schema %}
  {
    "name": "Menu Content",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}