<!-- page head --->
      <div id="page-head" class="text-center">
        <div class="container">
          <h1 class="display-1">{{ section.settings.heading }}</h1>
          {{ section.settings.text }}
          <footer>
            <a href="#" class="btn btn-primary btn-sm">{{ section.settings.button-label }}</a>
          </footer>
        </div>
        <span class="cloud cloud1">
        </span>
        <span class="cloud cloud2">
        </span>
        <span class="cloud cloud3">
        </span>
        <span class="cloud cloud4">
        </span>
        <span class="cloud cloud5">
        </span>
        <span class="cloud cloud6">
        </span>
        <span class="cloud cloud7">
        </span>
        <span class="cloud cloud8">
        </span>
      </div>
<!-- /page head --->


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "id": "heading",
        "type": "html",
        "label": "Heading",
		"default": "MyCookiedough<sup>r</sup><br> Stores"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text",
		"default": "<p>Experience moments of pure joy at our My Cookie Dough Stores.</p>"
      },
      {
        "id": "button-label",
        "type": "text",
        "label": "Button Label",
		"default": "View all locations"
      }
    ],
	"presets": [
		{
			"name": "Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}