<!-- section -->
        <div class="section sign-up-section bg-primary-light">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-xl-7">
                <h4 class="text-white"> {{ section.settings.heading }} </h4>
                <div class="form email-form">
                  {% form 'customer' %}
                    <input type="email" name="contact[email]" class="form-control" placeholder="Email">
                    <input type="submit" class="btn btn-primary" value="{{ section.settings.button-label }}">
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- /section -->

{% schema %}
  {
    "name": "Email Subscription",
    "settings": [
      {
        "id": "heading",
        "type": "textarea",
        "label": "Heading",
        "default": "Sign up below to stay up to date on our latest store openings and promotions"
      },
      {
        "id": "button-label",
        "type": "text",
        "label": "Button Label",
        "default": "Submit"
      }
    ],
	"presets": [
		{
			"name": "Email Subscription"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}