<!-- section -->
<div class="section pb-0">
  <div class="container">
    <div class="owl-carousel carousel1">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image_block' -%}
          <div class="item">
            <figure class="figure1">
              <img class="w-100" src="images/slide-img1.jpg" alt="img">
            </figure>
          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
<!-- section -->
{% schema %}
{
  "name": "Stores Image Slider",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Select Image",
          "id": "select_image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Stores Image Slider"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}