<!-- section -->
<div class="section our-locations after-gradient mb-0">
  <div class="container">
    <div class="map">
      <img
        class="w-100"
        src="{{ 'map.png' | asset_url }}"
        alt="map">
    </div>
  </div>
</div>
<!-- /section -->