{%- section 'home-banner' -%}
<!-- content -->
<div id="content">
  {%- section 'home-main-content' -%}
  {%- section 'review' -%}
  {%- section 'fan-favourites' -%}
  {%- section 'experience-moments' -%}
  {%- section 'newsletter' -%}
</div>
<!-- /content -->