{% section 'home-banner' %}
<!-- content -->
<div id="content">
  {% section 'image-carousel-section' %}
  {% section 'home-our-stores' %}
  {% section 'home-international-stores' %}
  {% section 'sign-up-form'%}
</div>
<!-- /content -->