{% section 'home-banner' %}
<!-- content -->
      <div id="content">
        <!-- section -->
        <div class="section pb-0">
          <div class="container">
            <div class="owl-carousel carousel1">
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img1.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img2.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img3.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img4.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img5.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img6.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img1.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img2.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img3.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img4.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img5.jpg" alt="img">
                </figure>
              </div>
              <div class="item">
                <figure class="figure1">
                  <img class="w-100" src="slide-img6.jpg" alt="img">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="section find-us bg-primary-light wave1 pb-md-4 pull-top overflow-x-initial">
          <div class="container-fluid px-0">
            <h2 class="display-1 text-white mb-0 skrollable skrollable-between position-relative" data-start="margin-left:-200px;" data-end="margin-left:700px;">Come find us! <span class="cloud1"></span> warm, <span class="cloud1"></span> gooey, <span class="cloud1"></span> freshly backed <span class="cloud1"></span> Come find us! <span class="cloud1"></span> warm, <span class="cloud1"></span> gooey, <span class="cloud1"></span> freshly backed</h2>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section our-stores">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">LONDON </a></h2>
                    <p>Westfield London White City, First Floor (near Primark)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">LONDON </a></h2>
                    <p>Westfield London White City, First Floor (near Primark)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">LONDON </a></h2>
                    <p>Westfield London White City, First Floor (near Primark)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Birmingham </a></h2>
                    <p>Bullring Shopping Centre, Lower Mall (Next to Burger King)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Cardiff</a></h2>
                    <p>St Davids Shopping Centre, Mall 2, Floor 1 (towards Debenhams)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Manchester</a></h2>
                    <p>Intu Trafford Centre, Ground Floor (next to Footlocker)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Leeds</a></h2>
                    <p>My Cookie Dough Cafe Flagship Store, 24 Albion Place, LS1 6JS</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Bluewater</a></h2>
                    <p>Bluewater Mall, Lower Rose Gallery</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Liverpool</a></h2>
                    <p>My Cookie Dough Cafe, Unit 88c, Liverpool One, 6 Wall Street </p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="box1">
                  <figure class="figure1">
                    <img class="w-100" src="image1.jpg" alt="img">
                  </figure>
                  <div class="content">
                    <h2><a href="#">Gateshead </a></h2>
                    <p>Metro Centre, Lower platinum Mall (next to Game)</p>
                    <div class="timings-chart">
                      <a href="#" class="toggle-btn"><span>OPENING TIMES</span> <i class="icon"><img src="down-arrow.svg" alt="arrow"></i></a>
                      <table class="custom-table1">
                        <tbody>
                          <tr>
                            <td class="week">MON:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">TUE:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">WED:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">THU:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">FRI:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SAT:</td>
                            <td>9:00 AM - 6:00 PM</td>
                          </tr>
                          <tr>
                            <td class="week">SUN</td>
                            <td>11:00 AM - 5:00 PM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <footer>
                    <a href="#" class="btn btn-primary bg-color1">Get Directions</a>
                  </footer>
                </div>
              </div>
            </div>
            <footer class="text-center pt-4 pt-lg-5">
              <span class="note">More UK Stores opening soon! </span>
            </footer>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section our-international-stores">
          <div class="container">
            <div class="box1 alt mb-5 mb-lg-5">
              <h2>International stores</h2>
              <div class="row pt-2">
                <div class="col-lg-4 col-md-6 column">
                  <h6>Kuala Lumpur Malaysia</h6>
                  <ul class="list1">
                    <li>Pavilion KL Mall</li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 column">
                  <h6>Muscat, Oman</h6>
                  <ul class="list1">
                    <li>a) Souq Al Madina</li>
                    <li>b) Mall of Muscat</li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 column">
                  <h6>Bahrain, Manama</h6>
                  <ul class="list1">
                    <li>Oasis Mall</li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 column">
                  <h6>Amman, Jordan</h6>
                  <ul class="list1">
                    <li>a) Abdoun </li>
                    <li>b) Khalda </li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 column">
                  <h6>Prague, Czech Republic</h6>
                  <ul class="list1">
                    <li>Westfield Chodov, Praha</li>
                  </ul>
                </div>
              </div>
            </div>
            <footer class="text-center pt-4 pt-lg-5">
              <span class="note">More Stores opening soon including, Cyprus, Qatar, Belgium and more! </span>
            </footer>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section sign-up-section bg-primary-light">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-xl-7">
                <h4 class="text-white">Sign up below to stay up to date on our latest store openings and promotions </h4>
                <div class="form email-form">
                  <form action="#">
                    <input type="email" class="form-control" placeholder="Email">
                    <input type="submit" class="btn btn-primary" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
      </div>
      <!-- /content -->