
      <div id="content">
        {% section "section-how-to-bake-it" %}
        <!-- section -->
        <div class="section how-we-bake">
          <div class="container">
            <header>
              <h2>How to bake it</h2>
            </header>
            <div class="tabs1 alt media-group">
              <div class="tab-header d-md-none">
                <span class="title"> Menu </span>
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="active" id="bake-it-yourself-tab" data-bs-toggle="tab" data-bs-target="#bake-it-yourself" type="button" role="tab" aria-controls="bake-it-yourself" aria-selected="true">Bake it yourself</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button id="scotch-egg-tab" data-bs-toggle="tab" data-bs-target="#scotch-egg" type="button" role="tab" aria-controls="scotch-egg" aria-selected="false">Scotch egg</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button id="Stackos-tab" data-bs-toggle="tab" data-bs-target="#Stackos" type="button" role="tab" aria-controls="Stackos" aria-selected="false">Stackos</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button id="skillets-tab" data-bs-toggle="tab" data-bs-target="#skillets" type="button" role="tab" aria-controls="skillets" aria-selected="false">SKILLETS</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button id="mississippi-mud-pie-tab" data-bs-toggle="tab" data-bs-target="#mississippi-mud-pie" type="button" role="tab" aria-controls="mississippi-mud-pie" aria-selected="false">Mississippi Love pie</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="bake-it-yourself" role="tabpanel" aria-labelledby="bake-it-yourself-tab">
                  <h5>Soft on the inside, crispy on the outside…</h5>
                  <p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄</p>
                  <p>HERE ARE THE INSTRUCTIONAL LEAFLETS FOR OUR BIY PACKS:</p>
                  <div class="download-options">
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Famous Five Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Special Edition Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Chocoholics Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Vegan BIY Pack</a>
                  </div>
                  <h5>Tips for baking MyCookieDough like a pro:</h5>
                  <ol class="list5">
                    <li>Make sure you use baking paper when cooking</li>
                    <li>Ensure your oven is completely preheated before beginning to bake</li>
                    <li>It is a good idea to chill your baking tray before baking - your cookie dough should also be chilled</li>
                    <li>Once the cookie dough is slightly golden brown (usually after 8-9 minutes), remove it from the oven. You can use a large spatula to push on the 4 sides to prevent it expanding too much, and to help it keep its ‘square shape’.</li>
                    <li>Gently (very gently) wriggle the spatula completely under the cookie dough, before transferring to a plate to decorate & EAT! </li>
                  </ol>
                </div>
                <div class="tab-pane fade" id="scotch-egg" role="tabpanel" aria-labelledby="scotch-egg-tab">
                  <h5>Soft on the inside, crispy on the outside…</h5>
                  <p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄</p>
                  <p>HERE ARE THE INSTRUCTIONAL LEAFLETS FOR OUR BIY PACKS:</p>
                  <div class="download-options">
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Famous Five Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Special Edition Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Chocoholics Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Vegan BIY Pack</a>
                  </div>
                  <h5>Tips for baking MyCookieDough like a pro:</h5>
                  <ol class="list5">
                    <li>Make sure you use baking paper when cooking</li>
                    <li>Ensure your oven is completely preheated before beginning to bake</li>
                    <li>It is a good idea to chill your baking tray before baking - your cookie dough should also be chilled</li>
                    <li>Once the cookie dough is slightly golden brown (usually after 8-9 minutes), remove it from the oven. You can use a large spatula to push on the 4 sides to prevent it expanding too much, and to help it keep its ‘square shape’.</li>
                    <li>Gently (very gently) wriggle the spatula completely under the cookie dough, before transferring to a plate to decorate & EAT! </li>
                  </ol>
                </div>
                <div class="tab-pane fade" id="Stackos" role="tabpanel" aria-labelledby="Stackos-tab">
                  <h5>Soft on the inside, crispy on the outside…</h5>
                  <p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄</p>
                  <p>HERE ARE THE INSTRUCTIONAL LEAFLETS FOR OUR BIY PACKS:</p>
                  <div class="download-options">
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Famous Five Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Special Edition Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Chocoholics Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Vegan BIY Pack</a>
                  </div>
                  <h5>Tips for baking MyCookieDough like a pro:</h5>
                  <ol class="list5">
                    <li>Make sure you use baking paper when cooking</li>
                    <li>Ensure your oven is completely preheated before beginning to bake</li>
                    <li>It is a good idea to chill your baking tray before baking - your cookie dough should also be chilled</li>
                    <li>Once the cookie dough is slightly golden brown (usually after 8-9 minutes), remove it from the oven. You can use a large spatula to push on the 4 sides to prevent it expanding too much, and to help it keep its ‘square shape’.</li>
                    <li>Gently (very gently) wriggle the spatula completely under the cookie dough, before transferring to a plate to decorate & EAT! </li>
                  </ol>
                </div>
                <div class="tab-pane fade" id="skillets" role="tabpanel" aria-labelledby="skillets-tab">
                  <h5>Soft on the inside, crispy on the outside…</h5>
                  <p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄</p>
                  <p>HERE ARE THE INSTRUCTIONAL LEAFLETS FOR OUR BIY PACKS:</p>
                  <div class="download-options">
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Famous Five Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Special Edition Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Chocoholics Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Vegan BIY Pack</a>
                  </div>
                  <h5>Tips for baking MyCookieDough like a pro:</h5>
                  <ol class="list5">
                    <li>Make sure you use baking paper when cooking</li>
                    <li>Ensure your oven is completely preheated before beginning to bake</li>
                    <li>It is a good idea to chill your baking tray before baking - your cookie dough should also be chilled</li>
                    <li>Once the cookie dough is slightly golden brown (usually after 8-9 minutes), remove it from the oven. You can use a large spatula to push on the 4 sides to prevent it expanding too much, and to help it keep its ‘square shape’.</li>
                    <li>Gently (very gently) wriggle the spatula completely under the cookie dough, before transferring to a plate to decorate & EAT! </li>
                  </ol>
                </div>
                <div class="tab-pane fade" id="mississippi-mud-pie" role="tabpanel" aria-labelledby="mississippi-mud-pie-tab">
                  <h5>Soft on the inside, crispy on the outside…</h5>
                  <p>Our Cookie Dough is made with the finest quality ingredients, a special recipe invented by our founders who know their food science! Although you need to bake the Cookie Dough, it always remains soft on the inside and crispy on the outside. They’re not Cookies, so get your spoons ready to indulge in the ultimate Cookie Dough treat 🥄🥄🥄</p>
                  <p>HERE ARE THE INSTRUCTIONAL LEAFLETS FOR OUR BIY PACKS:</p>
                  <div class="download-options">
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Famous Five Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Special Edition Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Chocoholics Pack</a>
                    <a class="btn btn-primary-color4 btn-xs rounded-btn" href="#"><span class="icon"><img src="images/download-icon.svg" alt="icon"></span> The Vegan BIY Pack</a>
                  </div>
                  <h5>Tips for baking MyCookieDough like a pro:</h5>
                  <ol class="list5">
                    <li>Make sure you use baking paper when cooking</li>
                    <li>Ensure your oven is completely preheated before beginning to bake</li>
                    <li>It is a good idea to chill your baking tray before baking - your cookie dough should also be chilled</li>
                    <li>Once the cookie dough is slightly golden brown (usually after 8-9 minutes), remove it from the oven. You can use a large spatula to push on the 4 sides to prevent it expanding too much, and to help it keep its ‘square shape’.</li>
                    <li>Gently (very gently) wriggle the spatula completely under the cookie dough, before transferring to a plate to decorate & EAT! </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- section -->
        <!-- section -->
          {% section 'section-faq' %}
        <!-- /section -->
        <!-- section -->
        <div class="section my-products alt text-center pb-2 pb-md-5">
          <div class="container">
            <header class="text-center c-mb-4">
              <h2 class="heading1">Recipes to try with your BIY</h2>
            </header>
            <div class="row row3">
              <div class="col-xl-3 col-lg-4 col-md-6 column single-product">
                <div class="figure1 video">
                  <img class="w-100" src="images/image21.jpg" alt="img">
                  <video class="w-100 " src="videos/choc-dcorating-dough.mp4" loop muted></video>
                  <span class="hover">
                    <a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
                  </span>
                </div>
                <div class="content">
                  <h4><a href="#">The famous 5 pack</a></h4>
                  <p class="price">£22</p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 column single-product">
                <div class="figure1">
                  <img class="w-100" src="images/image22.jpg" alt="img">
                  <span class="hover">
                    <a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
                  </span>
                </div>
                <div class="content">
                  <h4><a href="#">THE SPECIAL EDITION PACK</a></h4>
                  <p class="price">£22</p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 column single-product">
                <div class="figure1">
                  <img class="w-100" src="images/image25.jpg" alt="img">
                  <span class="hover">
                    <a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
                  </span>
                </div>
                <div class="content">
                  <h4><a href="#">THE SPECIAL EDITION PACK</a></h4>
                  <p class="price">£22</p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 column single-product">
                <div class="figure1">
                  <img class="w-100" src="images/image24.jpg" alt="img">
                  <span class="hover">
                    <a href="#" class="btn btn-outline-primary bg-color1 btn-sm">Add to cart</a>
                  </span>
                </div>
                <div class="content">
                  <h4><a href="#">Kinder, Nutella & Oreo Skillet</a></h4>
                  <p class="price">£22</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        {% section 'latest-news' %}
        <!-- /section -->
      </div>
      <!-- /content -->