<!-- content -->
<div id="content">
  <!-- section -->
  <div class="section faq-section">
    <div class="container">
      <div class="mb-4 mb-md-5">
        <header class="mb-4">
          <h1 class="heading1 alt h2">{{ page.title }}</h1>
        </header>
        <p class="text1">
          {{ page.content }}
        </p>
      </div>
      {%- section 'faq' -%}
    </div>
  </div>
  <!-- /section -->
</div>
<!-- /content -->