<!-- page head --->
      <div id="page-head" class="page-head2 bg-gradient1 text-center pb-5 pb-lg-7">
        <div class="container">
          <h1 class="display-1">{{ page.title }}</h1>
        </div>
      </div>
      <!-- /page head --->
      {% section 'section-blogs' %}