{% section 'corporate-banner' %}

<!-- section -->
        <div class="section we-offer bg-primary-light">
          <div class="container">
            <div class="row justify-content-center">
				{% section 'what-we-offer-image' %}
              	{% section 'what-we-offer-content' %}
            </div>
          </div>
        </div>
<!-- /section -->

{% section 'gifting-ideas' %}
{% section 'companies' %}
{% section 'enquiry-form' %}