<!-- content -->
<div id="content">
  {%- section 'franchises-banner' -%}
  {%- section 'franchises-map' -%}
  {%- section 'franchises-testimonial' -%}
  {%- section 'franchises-faq' -%}
  {%- section 'franchises-discovery-call' -%}
</div>
<!-- /content -->