{% section 'product-banner' %}
{% section 'product-ingredients' %}
{% section 'product-nutritional-information' %}

<!-- page head --->
      <div id="page-head" class="page-head3 text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
              <div class="logo">
                <a href="#">
                  <img src="images/logo11.svg" alt="logo">
                </a>
              </div>
              <h1 class="display-1"> The Snack For Champion </h1>
              <p>Fresh flavours, freshly baked</p>
            </div>
          </div>
        </div>
        <span class="cloud cloud1">
        </span>
        <span class="cloud cloud2">
        </span>
        <span class="cloud cloud3">
        </span>
        <span class="cloud cloud4">
        </span>
        <span class="cloud cloud5">
        </span>
        <span class="cloud cloud6">
        </span>
        <span class="cloud cloud7">
        </span>
        <span class="cloud cloud8">
        </span>
      </div>
      <!-- /page head --->
      <!-- content -->
      <div id="content">
        <!-- section -->
        <div class="section product-slider pt-2 pb-0">
          <div class="container">
            <div class="owl-carousel carousel3">
              <div class="item">
                <a href="#">
                  <div class="image">
                    <img src="images/slide-img1.png" alt="img">
                  </div>
                  <h4 data-chars="180">Milk chocolate chip</h4>
                  <span class="choose-me">Choose me</span>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <div class="image">
                    <img src="images/slide-img2.png" alt="img">
                  </div>
                  <h4 data-chars="180">Milk chocolate chip</h4>
                  <span class="choose-me">Choose me</span>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <div class="image">
                    <img src="images/slide-img3.png" alt="img">
                  </div>
                  <h4 data-chars="180">Milk chocolate chip</h4>
                  <span class="choose-me">Choose me</span>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <div class="image">
                    <img src="images/slide-img1.png" alt="img">
                  </div>
                  <h4 data-chars="180">Milk chocolate chip</h4>
                  <span class="choose-me">Choose me</span>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <div class="image">
                    <img src="images/slide-img2.png" alt="img">
                  </div>
                  <h4 data-chars="180">Milk chocolate chip</h4>
                  <span class="choose-me">Choose me</span>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <div class="image">
                    <img src="images/slide-img3.png" alt="img">
                  </div>
                  <h4 data-chars="180">Milk chocolate chip</h4>
                  <span class="choose-me">Choose me</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- section -->
        <!-- section -->
        <div class="section section2 wave1 py-4">
          <div class="container-fluid px-0">
            <div class="ticker-tape-scroll">
              <div class="ticker-tape-collection">
                <div class="ticker-tape-story">
                  <h2>Four fresh & Tasty new flavours every month!</h2>
                </div>
                <div class="ticker-tape-story">
                  <h2>Four fresh & Tasty new flavours every month!</h2>
                </div>
                <div class="ticker-tape-story">
                  <h2>Four fresh & Tasty new flavours every month!</h2>
                </div>
                <div class="ticker-tape-story">
                  <h2>Four fresh & Tasty new flavours every month!</h2>
                </div>
                <div class="ticker-tape-story">
                  <h2>Four fresh & Tasty new flavours every month!</h2>
                </div>
                <div class="ticker-tape-story">
                  <h2>Four fresh & Tasty new flavours every month!</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section qualities bg-color3">
          <div class="container">
            <header class="text-center">
              <h2>What Makes MyCookies <br> so good?</h2>
            </header>
            <div class="row justify-content-center">
              <div class="col-xl-10">
                <div class="row">
                  <div class="col-lg-6 column order-lg-2">
                    <div class="image">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1057 902" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                          <pattern id="image--1" height="100%" width="100%" patternContentUnits="objectBoundingBox" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                            <image height="1" width="1" preserveAspectRatio="xMidYMid slice" href="images/menu-img2.jpg"></image>
                          </pattern>
                        </defs>
                        <path fill="url(#image--1)">
                          <animate repeatCount="indefinite" attributeName="d" dur="7s" values="M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z;	
                                      
                                      M147.84,560.24c-25.91-75.2-65-73.08-87.95-136-34-93,3-232,88-285.09,82.85-52.26,139.36,23.37,287.64-14.45C548.07,95.85,547.22,44.44,666.19,16.83c51-11.9,175.89-40.79,255.77,28,80.72,69.68,70.95,201.81,68,245.15-7.22,96.87-43.76,108.34-39.94,197.14,4.25,95.6,47.59,109.62,38.66,181-9.34,74.77-69.25,159.32-142.33,173.34-93.47,17.42-124.91-95.17-233.25-96-131.71-.85-173.35,165.7-290.19,151.68-73.5-8.5-136.81-84.12-158.48-147.85C138.92,676.23,176.73,643.94,147.84,560.24Z;
                                      
                                      M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z"></animate>
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="col-lg-6 column">
                    <ul class="list4">
                      <li>
                        <div class="image-control">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1057 902" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                              <pattern id="image--2" height="100%" width="100%" patternContentUnits="objectBoundingBox" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                                <image height="1" width="1" preserveAspectRatio="xMidYMid slice" href="images/image11.jpg"></image>
                              </pattern>
                            </defs>
                            <path fill="url(#image--2)">
                              <animate repeatCount="indefinite" attributeName="d" dur="7s" values="M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z;	
                                              
                                              M147.84,560.24c-25.91-75.2-65-73.08-87.95-136-34-93,3-232,88-285.09,82.85-52.26,139.36,23.37,287.64-14.45C548.07,95.85,547.22,44.44,666.19,16.83c51-11.9,175.89-40.79,255.77,28,80.72,69.68,70.95,201.81,68,245.15-7.22,96.87-43.76,108.34-39.94,197.14,4.25,95.6,47.59,109.62,38.66,181-9.34,74.77-69.25,159.32-142.33,173.34-93.47,17.42-124.91-95.17-233.25-96-131.71-.85-173.35,165.7-290.19,151.68-73.5-8.5-136.81-84.12-158.48-147.85C138.92,676.23,176.73,643.94,147.84,560.24Z;
                                              
                                              M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z"></animate>
                            </path>
                          </svg>
                        </div>
                        <div class="content">
                          <h4><span>High quality</span> INGREDIENTS</h4>
                          <p>Something about how good the ingredients are</p>
                        </div>
                      </li>
                      <li>
                        <div class="image-control">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1057 902" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                              <pattern id="image--3" height="100%" width="100%" patternContentUnits="objectBoundingBox" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                                <image height="1" width="1" preserveAspectRatio="xMidYMid slice" href="images/image12.jpg"></image>
                              </pattern>
                            </defs>
                            <path fill="url(#image--3)">
                              <animate repeatCount="indefinite" attributeName="d" dur="7s" values="M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z;	
                                              
                                              M147.84,560.24c-25.91-75.2-65-73.08-87.95-136-34-93,3-232,88-285.09,82.85-52.26,139.36,23.37,287.64-14.45C548.07,95.85,547.22,44.44,666.19,16.83c51-11.9,175.89-40.79,255.77,28,80.72,69.68,70.95,201.81,68,245.15-7.22,96.87-43.76,108.34-39.94,197.14,4.25,95.6,47.59,109.62,38.66,181-9.34,74.77-69.25,159.32-142.33,173.34-93.47,17.42-124.91-95.17-233.25-96-131.71-.85-173.35,165.7-290.19,151.68-73.5-8.5-136.81-84.12-158.48-147.85C138.92,676.23,176.73,643.94,147.84,560.24Z;
                                              
                                              M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z"></animate>
                            </path>
                          </svg>
                        </div>
                        <div class="content">
                          <h4><span>TASTY NEW</span>FLAVOURS</h4>
                          <p>Something about the new flavours every month</p>
                        </div>
                      </li>
                      <li>
                        <div class="image-control">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1057 902" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                              <pattern id="image--4" height="100%" width="100%" patternContentUnits="objectBoundingBox" viewBox="0 0 1 1" preserveAspectRatio="xMidYMid slice">
                                <image height="1" width="1" preserveAspectRatio="xMidYMid slice" href="images/image13.jpg"></image>
                              </pattern>
                            </defs>
                            <path fill="url(#image--4)">
                              <animate repeatCount="indefinite" attributeName="d" dur="7s" values="M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z;	
                                              
                                              M147.84,560.24c-25.91-75.2-65-73.08-87.95-136-34-93,3-232,88-285.09,82.85-52.26,139.36,23.37,287.64-14.45C548.07,95.85,547.22,44.44,666.19,16.83c51-11.9,175.89-40.79,255.77,28,80.72,69.68,70.95,201.81,68,245.15-7.22,96.87-43.76,108.34-39.94,197.14,4.25,95.6,47.59,109.62,38.66,181-9.34,74.77-69.25,159.32-142.33,173.34-93.47,17.42-124.91-95.17-233.25-96-131.71-.85-173.35,165.7-290.19,151.68-73.5-8.5-136.81-84.12-158.48-147.85C138.92,676.23,176.73,643.94,147.84,560.24Z;
                                              
                                              M86.2,602.27C37.81,560.28,39,473.1,57.41,415.51c19.2-60,52.39-71.18,120.37-146.76,122.38-135.17,92.38-183.56,172-230.35C438.53-14,554.1.41,628.09,32c72.38,31.19,62.78,61.19,173.16,132.77C916.42,240,950,222,988,276.35c62.38,89.18,25.59,213.15,17.59,240.74-13.19,44.79-28.39,95.58-74,128-65.19,46-118,2.8-194.36,44-64.78,34.8-50.39,78.79-112.77,132.78C533.71,900.61,369.34,924.6,305,860.62c-60.79-60.39,1.2-166.77-66.39-219.55C188.18,602.27,135,645.06,86.2,602.27Z"></animate>
                            </path>
                          </svg>
                        </div>
                        <div class="content">
                          <h4><span>FRESHLY</span> BAKED</h4>
                          <p>Something about how freshly baked the cookies are</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section about-cookies">
          <div class="container">
            <header>
              <div class="row justify-content-center">
                <div class="col-xl-10">
                  <div class="row">
                    <div class="col-md-6">
                      <h2>MYcookies</h2>
                    </div>
                    <div class="col-md-6">
                      <p>Something about what MyCookies is and why it is a snack for champions</p>
                    </div>
                  </div>
                </div>
            </header>
            <div class="row text-center">
              <div class="col-lg-4 col-md-6 column">
                <div class="image"><img class="shadow1" src="images/image11.png" alt="img"></div>
                <h4 data-chars="180">Milk chocolate chip</h4>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="image"><img class="shadow1" src="images/image12.png" alt="img"></div>
                <h4 data-chars="180">Milk chocolate chip</h4>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="image"><img class="shadow1" src="images/image13.png" alt="img"></div>
                <h4 data-chars="180">Milk chocolate chip</h4>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="image"><img class="shadow1" src="images/image13.png" alt="img"></div>
                <h4 data-chars="180">Milk chocolate chip</h4>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="image"><img class="shadow1" src="images/image11.png" alt="img"></div>
                <h4 data-chars="180">Milk chocolate chip</h4>
              </div>
              <div class="col-lg-4 col-md-6 column">
                <div class="image"><img class="shadow1" src="images/image12.png" alt="img"></div>
                <h4 data-chars="180">Milk chocolate chip</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section sign-up-section alt bg-primary-color4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-xl-7">
                <h4 class="text-white">Sign up below to stay up to date on our latest store openings and promotions </h4>
                <div class="form email-form">
                  <form action="#">
                    <input type="email" class="form-control" placeholder="Email">
                    <input type="submit" class="btn btn-primary btn1" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
      </div>
      <!-- /content -->